@font-face {
  font-family: lato_light;
  src: url(../css/lato/Lato-Light.ttf);
}

@font-face {
  font-family: lato_regular;
  src: url(../css/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: lato_black;
  src: url(../css/lato/Lato-Black.ttf);
}

@font-face {
  font-family: lato_thinitalic;
  src: url(../css/lato/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: lato_bolditalic;
  src: url(../css/lato/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: lato_lightitalic;
  src: url(../css/lato/Lato-LightItalic.ttf);
}

html {
  width: 100%;
  background: #1abc9c;
  color: white;
  text-align: center;
}

#myCanvas {
  display: block;
  background: #148f77;
  margin: 50px auto;
  transition: 1000ms all;
}

h1 {
  font-size: 65px;
  margin: 5px auto -30px auto;
  font-family: lato_regular;
  color: white;
}

h4 {
  font-family: lato_light;
  font-size: 16px;
  margin-top: 0px;
}

h2 {
  font-family: lato_black;
  font-size: 60px;
}

h3 {
  font-family: lato_regular;
  font-size: 40px;
  margin-top: -20px;
}

ul {
  list-style-type: none;
  width: 240px;
  display: block;
  margin: 20px auto;
  padding: 0;
}

ul li {
  float: left;
  width: 80px;
  margin-bottom: 50px;
}

ul li img {
  width: 50px;
  display: block;
  margin: 0 auto;
  transition: 200ms all;
}

ul li img:hover {
  transform: scale(1.2);
}

#play {
  position: relative;
  margin: 0;
  top: -200px;
  width: 140px;
  height: 45px;
  display: block;
  margin: 0 auto;
  font-family: lato_black;
  border: 4px solid white;
  color: white;
  background: #1abc9c;
}

#gameover {
  display: none;
  position: absolute;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#gameover button {
  width: 140px;
  height: 45px;
  display: block;
  margin: 100px auto;
  font-family: lato_black;
  border: 4px solid white;
  color: white;
  background: #e74c3c;
}
