@font-face {
  font-family: lato_light;
  src: url(../css/lato/Lato-Light.ttf);
}

@font-face {
  font-family: lato_regular;
  src: url(../css/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: lato_black;
  src: url(../css/lato/Lato-Black.ttf);
}

@font-face {
  font-family: lato_thinitalic;
  src: url(../css/lato/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: lato_bolditalic;
  src: url(../css/lato/Lato-BoldItalic.ttf);
}

@font-face {
  font-family: lato_lightitalic;
  src: url(../css/lato/Lato-LightItalic.ttf);
}

html {
  width: 100%;
  background: #1abc9c;
  color: white;
  text-align: center;
  font-family: lato_light;
}

body {
  overflow-x: hidden;
}

.canvas-size {
  margin: 50px auto;
  width: 750px;
  height: 500px;
}

#myCanvas {
  display: block;
}

.next, .prev {
  display: none;
  position: absolute;
  top: 300px;
  text-align: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #148f77;
  color: #1abc9c;
  cursor: pointer;
}

.next img, .prev img {
  display: block;
  height: 45px;
  margin: 15px 18px;
}

.next {
  right: 50px;
}

.prev {
  left: 50px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.select-level {
  -webkit-transition: 300ms all cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: 300ms all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 300ms all cubic-bezier(0.075, 0.82, 0.165, 1);
}

h1 {
  font-size: 65px;
  margin: 20px auto -10px auto;
  font-family: lato_regular;
  color: white;
}

h4 {
  font-family: lato_light;
  font-size: 16px;
  margin-top: 0px;
}

h2 {
  font-family: lato_black;
  font-size: 75px;
  margin-bottom: 0;
}

h3 {
  font-family: lato_regular;
  font-size: 40px;
  margin-top: 0px;
}

p {
  clear: both;
  font-size: 11px;
}

ul {
  list-style-type: none;
  width: 240px;
  display: block;
  margin: 20px auto;
  padding: 0;
}

ul li {
  float: left;
  width: 80px;
  margin-bottom: 20px;
}

ul li img {
  width: 50px;
  display: block;
  margin: 0 auto;
  transition: 200ms all;
}

ul li img:hover {
  transform: scale(1.2);
}

#scoreCounter {
  display: none;
  position: absolute;
  top: 110px;
  right: 23%;
  font-size: 25px;
  font-family: lato_light;
}

#controlls {
  display: none;
  position: absolute;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 600px;
}

#controlls h3 {
  font-size: 22px;
  font-family: lato_light;
  margin-top: 50px;
  margin-bottom: -30px;
}

#controlls .steering {
  margin: 0px auto 30px auto;
  position: relative;
  left: 30px;
}

#controlls .steering h1 {
  display: block;
  border: 5px solid white;
  width: 50px;
  height: 50px;
  font-size: 40px;
  padding: 0;
  background: #1abc9c;
  line-height: 50px;
  float: left;
  margin: 40px 10px;
}

#controlls .steering h2 {
  font-size: 40px;
  padding: 45px 0px;
  font-family: lato_regular;
  position: relative;
  left: -30px;
}

#controlls button {
  clear: both;
  width: 160px;
  height: 55px;
  display: block;
  margin: 0 auto 10px auto;
  font-family: lato_black;
  border: 5px solid white;
  color: white;
  font-size: 18px;
  background: #1abc9c;
  cursor: pointer;
  transition: 100ms all;
  outline: none;
}

#controlls button:hover {
  transform: scale(1.1);
}

#controlls button:active {
  transform: scale(1);
}

#game-over, #you-won, #main-menu {
  display: none;
  position: absolute;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#game-over h4, #you-won h4, #main-menu h4 {
  font-size: 22px;
  font-family: lato_light;
  margin-top: 60px;
  margin-bottom: 20px;
}

#game-over button, #you-won button, #main-menu button {
  width: 160px;
  height: 55px;
  display: block;
  margin: 0 auto 10px auto;
  font-family: lato_black;
  border: 5px solid white;
  color: white;
  font-size: 18px;
  background: #e74c3c;
  cursor: pointer;
  transition: 100ms all;
  outline: none;
}

#game-over button:hover, #you-won button:hover, #main-menu button:hover {
  transform: scale(1.1);
}

#game-over button:active, #you-won button:active, #main-menu button:active {
  transform: scale(1);
  outline: none;
}

#you-won h3 {
  margin-bottom: 100px;
}

#you-won button {
  background: #1abc9c;
}

#main-menu {
  display: block;
  margin-top: 70px;
}

#main-menu button {
  margin: 25px auto;
  background: #1abc9c;
}

.level-locked, .level-unlocked {
  display: none;
  position: absolute;
  top: 138px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 750px;
  height: 500px;
}

.level-locked .locker, .level-unlocked .locker {
  width: 128px;
  height: 256px;
  display: block;
  margin: 0 auto;
  transition: 200ms all;
}

.level-locked img, .level-unlocked img {
  margin-top: 128px;
}

.level-locked h3, .level-unlocked h3 {
  font-family: lato_light;
  margin-top: 20px;
  font-size: 20px;
}

.level-locked button, .level-unlocked button {
  position: absolute;
  bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 160px;
  height: 55px;
  display: block;
  font-family: lato_black;
  border: 5px solid white;
  color: white;
  font-size: 18px;
  background: #1abc9c;
  cursor: pointer;
  transition: 100ms all;
  outline: none;
}

.level-locked button:hover, .level-unlocked button:hover {
  transform: scale(1.1);
}

.level-locked button:active, .level-unlocked button:active {
  transform: scale(1);
  outline: none;
}

.level-unlocked {
  background: rgba(0, 0, 0, 0.3);
}

.level-locked {
  background: rgba(0, 0, 0, 0.9);
}
