@import "partials/base"

html
  width: 100%
  background: #1abc9c
  color: white
  text-align: center
  font-family: lato_light
#myCanvas
  display: block
  background: darken(#1abc9c, 10%)
  margin: 50px auto
  transition: (1000ms all)
h1
  font-size: 65px
  margin: 20px auto -10px auto
  font-family: lato_regular
  color: white
h4
  font-family: lato_light
  font-size: 16px
  margin-top: 0px
h2
  font-family: lato_black
  font-size: 75px
  margin-bottom: 0
h3
  font-family: lato_regular
  font-size: 40px
  margin-top: 0px
ul
  list-style-type: none
  width: 240px
  display: block
  margin: 20px auto
  padding: 0
  li
    float: left
    width: 80px
    margin-bottom: 20px
    img
      width: 50px
      display: block
      margin: 0 auto
      transition: (200ms all)
      &:hover
        transform: scale(1.2)
#scoreCounter
  display: none
  position: absolute
  top: 110px
  right: 23%
  font-size: 25px
  font-family: lato_light
#gameStart
  position:absolute
  top: 150px
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  width: 600px

  h3
    font-size: 22px
    font-family: lato_light
    margin-top: 50px
    margin-bottom: -30px

  .steering
    margin: 0px auto 50px auto
    position: relative
    left: 30px
    h1
      display: block
      border: 5px solid white
      width: 50px
      height: 50px
      font-size: 40px
      padding: 0
      background: #1abc9c
      line-height: 50px
      float: left
      margin: 40px 10px
    h2
      font-size: 40px
      padding: 45px 0px
      font-family: lato_regular
      position: relative
      left: -30px


  button
    clear: both
    width: 160px
    height: 55px
    display: block
    margin: 0 auto
    font-family: lato_black
    border: 5px solid white
    color: white
    font-size: 18px
    background: #1abc9c
    cursor: pointer
    transition: (100ms all)
    &:hover
      transform: scale(1.1)
    &:active
      transform: scale(1.0)
      outline: none

#gameover, #youwon
  display: none
  position:absolute
  top: 150px
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0

  h4
    font-size: 22px
    font-family: lato_light
    margin-top: 70px
    margin-bottom: 30px

  button
    clear: both
    width: 160px
    height: 55px
    display: block
    margin: 0 auto
    font-family: lato_black
    border: 5px solid white
    color: white
    font-size: 18px
    background: #e74c3c
    cursor: pointer
    transition: (100ms all)
    &:hover
      transform: scale(1.1)
    &:active
      transform: scale(1.0)
      outline: none

#youwon
  button
    background: lighten(#1abc9c, 15%)

p
  clear: both
  font-size: 11px
